# The token from your Buildkite "Agents" page
token="{{ buildkite_agent_token }}"

# The name of the agent
name="{{ buildkite_agent_name }}"

# The priority of the agent (higher priorities are assigned work first)
# priority=1

# Meta data for the agent (default is "queue=default")
meta-data="{{ buildkite_agent_meta_data }}"

# Populate the meta data from the current instances EC2 Tags
meta-data-ec2-tags={{ buildkite_agent_meta_data_ec2_tags }}

# Path to the bootstrap script. You should avoid changing this file as it will
# be overridden when you update your agent. If you need to make changes to this
# file: use the hooks provided, or copy the file and reference it here.
bootstrap-script="/usr/share/buildkite-agent/bootstrap.sh"

# Path to where the builds will run from
build-path="/var/lib/buildkite-agent/builds"

# Directory where the hook scripts are found
hooks-path="/etc/buildkite-agent/hooks"

# Do not run jobs within a pseudo terminal
# no-pty=true

# Don't automatically verify SSH fingerprints
# no-automatic-ssh-fingerprint-verification=true

# Don't allow this agent to run arbitrary console commands
# no-command-eval=true

# Enable debug mode
debug={{ buildkite_agent_debug }}

# Don't show colors in logging
# no-color=true
