# The token from your Buildkite "Agents" page
token="{{ buildkite_agent_token }}"

# The name of the agent
name="%hostname-%n"

# The priority of the agent (higher priorities are assigned work first)
priority={{ buildkite_agent_priority }}

# Tags for the agent (default is "queue=default")
tags={{ buildkite_agent_tags_including_queue }}

# Include the host's EC2 meta-data as tags (instance-id, instance-type, and ami-id)
tags-from-ec2={{ buildkite_agent_tags_from_ec2 }}

# Include the host's EC2 tags as tags
tags-from-ec2-tags={{ buildkite_agent_tags_from_ec2_tags }}

# Include the host's Google Cloud instance meta-data as tags (instance-id, machine-type, preemptible, project-id, region, and zone)
tags-from-gcp={{ buildkite_agent_tags_from_gcp }}

# Include the host's Google Cloud instance labels as tags
tags-from-gcp-labels={{ buildkite_agent_tags_from_gcp_labels }}

# Include the host's meta-data as tags (`hostname`, `machine-id`, and `os`)
tags-from-host={{ buildkite_agent_tags_from_host }}

# Path to a custom boostrap command to run. By default this is `buildkite-agent bootstrap`.
# This allows you to override the entire execution of a job. Generally you should use hooks instead!
# See https://buildkite.com/docs/agent/hooks
# bootstrap-script="{{ buildkite_agent_bootstrap_script[ansible_os_family] }}" # Deprecated in latest buildkite version

# Path to where the builds will run from
build-path="{{ buildkite_agent_builds_dir[ansible_os_family] }}"

# Directory where the hook scripts are found
hooks-path="{{ buildkite_agent_hooks_dir[ansible_os_family] }}"

# When plugins are installed they will be saved to this path
plugins-path="{{ buildkite_agent_plugins_dir[ansible_os_family] }}"

# Flags to pass to the `git clone` command
git-clone-flags={{ buildkite_agent_git_clone_flags }}

# Flags to pass to the `git clean` command
git-clean-flags={{ buildkite_agent_git_clean_flags }}

# Do not run jobs within a pseudo terminal
no-pty={{ buildkite_agent_no_pty }}

# Don't automatically run ssh-keyscan before checkout
no-ssh-keyscan={{ buildkite_agent_no_ssh_keyscan }}

# Don't allow this agent to run arbitrary console commands
no-command-eval={{ buildkite_agent_no_command_eval }}

# Don't allow this agent to run plugins
no-plugins={{ buildkite_agent_no_plugins }}

# Enable debug mode
debug={{ buildkite_agent_debug }}

# Don't show colors in logging
no-color={{ buildkite_agent_no_color }}
